body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-container label {
    display: block;
    margin-bottom: 10px;
}

.form-container label.inline-label {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.form-container input[type="text"],
.form-container input[type="checkbox"],
.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    vertical-align: middle; /* Align input elements vertically */
}

.form-container input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

.form-container input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #45a049;
}
