<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'todoapp\delete.css' %}">
    <title>Delete</title>
</head>
<body>
    <div class="delete-container">
        <p>Are you sure you want to delete "{{ task.title }}"?</p>
        <form action="" method="post" class="form-delete">
            {% csrf_token %}
            <input type="submit" name="confirm" value="Confirm" class="confirm-btn">
        </form>
        <a href="{% url 'todotask' %}" class="cancel-link">Cancel</a>
    </div>
</body>
</html>
